[submodule "external/android-audio-plugin-framework"]
	path = external/android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "external/oboe"]
	path = external/oboe
	url = https://github.com/google/oboe
